<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.epm.math.operations">

    <application android:fullBackupContent="false">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />
        <activity android:name=".MainActivity">
            <meta-data
                android:name="default-url"
                android:value="http://www.escogitare.com/apps/math" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:order="1" android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.escogitare.com"
                    android:pathPattern="/apps/math" />
                <data
                    android:scheme="https"
                    android:host="www.escogitare.com"
                    android:pathPattern="/apps/math" />
            </intent-filter>

        </activity>
    </application>

</manifest>